* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    background: linear-gradient(180deg, #D7AFF6 0%, rgba(215, 175, 246, 0) 100%);
}
header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    height: 100px;
}
.top-searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 2em;
    
 }
 .top-searchbar input{
    width: 80%;
    height: 80%;
 }

 nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
 }

 nav button{
    width: 10rem;
    height: 2rem;
    border-radius: 25%;
    border: 0;
 }