@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root {
   /* background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    background-image: url("./images/Rectangle 29background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

   /* max-width: 1280px;
    width: 100%;
    height: 100%;*/

}

/***********************
        HEADER
***********************/

header {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    position: sticky;
    background-color: white;
    height: 6em;
}


#logoheader {
    padding-left: 15px;
    width: 6em;
    margin-left: 1rem;
}

#header-title{
    border: 3px solid red;
    width: 10em;

}



#profileheader {
    display: flex;
    width: 2rem;
    border-radius: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}

.searchbar{
    display: flex;
    height: 3rem;
    width: 60rem;
    border: 1px solid red;
}

#search-bar {
    display: flex;
    height: 43px;
    border: 0.5px solid lightgrey;
    padding-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50rem;
}

#search-btn {
    display: flex;
    height: 45px;
    justify-content: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 15px;
    font-size: 1.1em;
    right: 15px;
    border: #232328;


}

nav {
    display: flex;
    border: 1px solid blue;


}

nav button {
    width: 8em;
    height: 2.5rem;
    background: transparent;
    border: transparent;
   margin-left: 3rem;

}

nav button:hover {
    cursor: pointer;
    font-weight: bolder;
}

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;

}

.card-area-wrapper h2 {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
    width: auto;
    color: #d6b8ff;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2em;
    width: 350px;
    height: 200px;
}

.card:hover {
    cursor: pointer;
}

.card p {
    display: none;
}


.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 350px;
    height: 200px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.about-artist-text {
    text-align: left;
    background-color: azure;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: 2rem;
}

.artist-details {
    color: cornflowerblue;
    padding: 1rem;
    width: 200px;
}

footer {
    height: 5rem;
    text-align: center;
    background-color: white;
}

footer ul {
    height: 2rem;
    width: 100%;
}

footer ul li {
    margin-top: 1em;
    width: 6rem;
    height: 4rem;
    font-size: 1.5rem;
}

footer p {
    margin-top: 1em;
    color: #553177;
}

footer ul a {
    color: #553177;
}


/* formatting of profilepage */

.side-navbar-wrapper {
    display: flex;
    flex-direction: column;
}

.side-navbar {
    display: flex;
    justify-content: left;
    width: 5rem;
    background-color: #D7AFF6;

}

.side-navbar-info {
    display: flex;
    justify-content: center;
    background-color: #D7AFF6;
}

.contact-information input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


.update-button {
    width: 15em;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: #c9b9f1;
}

.update-button:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 30px 20px rgba(165, 238, 245, 0.2);
    cursor: pointer;
}

.updated-settings {
    color: green;
    text-align: center;
}