@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#root {
    background-image: url("./images/backgroundHorse.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black  ;
    /*height: 100vh;*/


}

/***********************
        HEADER
***********************/
.image-title-searchbar {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: white;
    height: 10em;
}

.header-logo-title{
    display: flex;
    align-items: center;
}

.header-logo-title img{
    width: 100px;
    margin-right: 1rem;
    margin-left: 1rem;
}





.searchbar {
    display: flex;
    height: 3rem;
}


#search-bar {
    height: 43px;
    width: 30em;
    padding-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #232328;
    font-size: 1.2em;
}

#search-btn {
    display: flex;
    height: 43px;
    justify-content: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 15px;
    font-size: 1.1em;
    right: 15px;
    border: #232328;

}
.searchbar-and-navbar-wrapper {
    display: flex;
    flex-direction: row;
    max-width:100%;

}

nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

nav button {
    margin-top: 0.5em;
    background: transparent;
    border: transparent;
    font-size: 1em;
    width: 8em;
}


nav button:hover {
    cursor: pointer;
    font-weight: bolder;
}

.profile-signup-login {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1em;
}

.profile-signup-login button:hover {
    cursor: pointer;
    font-weight: bolder;
}

.profile-signup-login button {
    margin-top: 0.6em;
    background: transparent;
    border: transparent;
    font-size: 1em;
    width: 5em;
}

#round-login-avatar {
    width: 3rem;
    border-radius: 5rem;
    margin-left: 1rem;
    border: 1px solid #232328;

}

#login-button {
    background-color: #f61253;
    border-radius: 3px;
    color: #fff;
    padding: 1px;
    width: 4em;

}



/**************************
        CARD AREA
***************************/

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}

.card-area-wrapper h2 {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
    width: auto;
    /*color: #d6b8ff;*/
    color: white;


}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    color: white;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 2em;
    width: 350px;
    height: 200px;
}

.card:hover {
    cursor: pointer;
}

.card p {
    display: none;
}


.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 350px;
    height: 200px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.artist-card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    color: #000000;

}

.about-artist-text {
    text-align: left;
    background-color: azure;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: 2rem;
}

.artist-details {
    color: cornflowerblue;
    padding: 1rem;
    width: 200px;
}

/**************************
            FOOTER
***************************/


footer {
    height: 5rem;
    text-align: center;
    background-color: white;

}

footer ul {
    height: 2rem;
    width: 100%;
}

footer ul li {
    margin-top: 1em;
    width: 6rem;
    height: 4rem;
    font-size: 1.5rem;
}

footer p {
    margin-top: 1em;
    color: #553177;
}

footer ul a {
    color: #553177;
}

/***********************
        PROFILE PAGE
***********************/

.side-navbar-wrapper {
    display: flex;
    flex-direction: row;
}

.side-navbar {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: white;
    width: 6rem;
    border: 2px solid red;
}


.contact-information {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    color: white;
}

.contact-information input {
    display: flex;
    margin: 1rem;
}


.update-button {
    width: 15em;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: #c9b9f1;
}

.update-button:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 30px 20px rgba(165, 238, 245, 0.2);
    cursor: pointer;
}

.updated-settings {
    color: green;
    text-align: center;
}


/**************************
        MEDIA QUERIES
***************************/
/*
@media (max-width: 1700px) {
    #header-logo-u {
        width: 5em;
    }

    #unicorn-events-title {
        font-size: 1.6em;
    }

    #round-login-avatar {
        width: 3rem;
        margin-left: 1em;
    }
}


@media (max-width: 1530px) {
    #header-logo-u {
        width: 4.6em;
    }

    #unicorn-events-title {
        font-size: 1.8em;
        line-height: 1;
    }

    nav {
        margin: auto;
    }

    #round-login-avatar {
        width: 3rem;
        margin-right: 1em;
    }
}

@media (max-width: 1490px) {
    #header-logo-u {
        width: 4.5em;
    }

    #unicorn-events-title {
        font-size: 1.6em;
        line-height: 1;
    }

    nav {
        margin: auto;
    }

    #round-login-avatar {
        width: 2.8em;
        margin-right: 1em;
    }
}

@media (max-width: 1200px) {
    #header-logo-u {
        width: 4.3em;
        margin: 1em;
    }

    #unicorn-events-title {
        margin-right: 1em;
        font-size: 1.2em;
        line-height: 1;
    }

    #search-bar {
        margin-top: 1em;
        width: 38em;
        height: 2em;
    }

    #search-btn {
        height: 2em;
        margin-top: 1.1em;
    }

    nav button {
        margin-left: 3.2em;
    }

    nav a:nth-child(5) {
        margin-left: 3em;
        position: relative;
        left: 2.5em;

    }

    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 60em;
        font-size: 0.8em;
    }

    #round-login-avatar {
        width: 2.2em;
        margin-bottom: 1em;
        position: relative;
        right: 3.3em;
    }
}

@media (max-width: 950px) {
    #header-logo-u {
        width: 4.3em;
        margin: 1em;
    }

    #unicorn-events-title {
        margin-right: 1em;
        font-size: 1.2em;
        line-height: 1;
    }

    #search-bar {
        margin-top: 1em;
        width: 38em;
        height: 2em;
    }

    #search-btn {
        height: 2em;
        margin-top: 1.1em;
    }

    nav button {
        margin-left: 3.2em;
    }

    nav a:nth-child(5) {
        margin-left: 3em;
        position: relative;
        left: 0.5em;

    }

    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 60em;
        font-size: 0.8em;
    }

    #round-login-avatar {
        width: 2.2em;
        margin-bottom: 1em;
        position: relative;
        right: 3.3em;
    }
}*/

/*
@media (max-width: 375px) {
    #header-logo-u {
        width: 3em;
        margin-right: 0.5em;
        position: relative;
        right: 1em;
    }

    #unicorn-events-title {
        margin-right: 1em;
        font-size: 0.8em;
        line-height: 1;
        display: none;
    }

    #search-bar {
        margin-top: 1.1em;
        width: 17em;
        height: 1.7em;
    }

    #search-btn {
        width: 1em;
        padding: 1em;
    }

    nav button {
        font-size: 0.7em;
        margin-left: 0.4em;
    }

    nav a:nth-child(5) {
        margin-left: 0;
        position: relative;
        right: 1em;

    }

    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 30em;
        font-size: 0.6em;
    }

    #round-login-avatar {
        width: 1.7em;
        margin-bottom: 1em;
        position: relative;
        right: 2.5em;
    }


.card{
    border: 1px solid red;
    width: 18em
}

    .card-area-wrapper h2 {
        text-align: center;
        font-size: 1.5rem;
    }
}
*/

@media (max-width: 1520px) {
    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 20em;
        font-size: 0.6em;
    }

    #search-btn {
        width: 1em;
        padding: 1em;
    }

    .searchbar-and-navbar-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

}

@media (max-width: 1180px) {

    #unicorn-events-title {
        display: none;
    }

    .searchbar-and-navbar-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

}

@media(max-width: 1040px){

}

/*

@media (max-width: 430px) {
    #header-logo-u {
        width: 3em;
        margin-right: 0.5em;
        position: relative;
        right: 1em;
    }

    #unicorn-events-title {
        margin-right: 1em;
        font-size: 0.8em;
        line-height: 1;
        display: none;
    }

    #search-bar {
        margin-top: 1.1em;
        width: 17em;
        height: 1.7em;
    }

    #search-btn {
        width: 1em;
        padding: 1em;
    }

    nav button {
        font-size: 0.7em;
        margin-left: 0.4em;
    }

    nav a:nth-child(5) {
        margin-left: 0;
        position: relative;
        right: 1em;

    }

    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 30em;
        font-size: 0.6em;
    }

    #round-login-avatar {
        width: 1.7em;
        margin-bottom: 1em;
        position: relative;
        right: 2.5em;
    }


    .card{
        border: 1px solid red;
        width: 18em
    }

    .card-area-wrapper h2 {
        text-align: center;
        font-size: 1.5rem;
    }


}
*/

