.filter-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    
    width: auto;
    height: auto;
    border: 1px solid black;
    background-color: white;
    border-bottom: ;
    margin: 2%;
}

.date-filters {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
}

.date-filters button {
    border-radius: 0.7rem;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0.5em;
}

.date-filters button:hover {
    cursor:pointer;
}


.city-filters  {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;
}


.city-filters button {
    border-radius: 0.7rem;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0.5em;
}

.city-filters button:hover {
    cursor:pointer;
}

.two-dates-filter {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 0.5em;
}

.two-dates-filter input, .two-dates-filter p{
    background-color: black;
    color: whitesmoke;
    border-radius: 0;
    width: auto;
}
#filter-page-search-button {
    width: 10%;
    align-self: center;
    background-color: black;
    color: whitesmoke;
    margin: 0.5em;
}