/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

html {
    box-sizing: border-box;
}

.filter-container {
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 1rem;
}

.filter-buttons-dates {
    display: flex;
    flex: auto;
    gap: 2rem;
    margin-left: 2rem;


}
.filter-buttons-cities  {
    display: flex;
    flex: auto;
    gap: 2rem;
    margin-left: 2rem;

}

.filter-buttons-dates button {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    width: 12em;
}

.filter-buttons-dates button:hover {
    cursor:pointer;
}

.filter-buttons-cities button {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    width: 12em;

}

.filter-buttons-cities button:hover {
    cursor:pointer;
}

.date-form {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

#start-date {
    margin-right: 2rem;
}


.date-form p{
    color: white;
}

.date-form input {
    width: 10rem;
    height: 2rem;
    border-radius: 0.2rem;
}

#end-date button{
    margin-left: 2rem;
    width: 2rem;
    border-radius: 5rem;
    font-size: 1rem;

}

/***********************
        CARD
***********************/

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

/***********************
        FOOTER
***********************/