@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

html {
    box-sizing: border-box;
    background: linear-gradient(180deg, #232328 50%, rgba(222, 189, 189, 0) 100%);
}

.filter-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.filter-container {
    border: 1px solid black;
    padding: 5%;
    width: 50%;
    background-color: #6D5E76;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    padding-top: 5%;
    color: #d4bffa;
}

.filter-buttons-dates {
    display: flex;
    flex: auto;
    gap: 5%;
}

.filter-buttons-cities  {
    display: flex;
    flex: auto;
    gap: 5%;

}

.filter-buttons-dates button {
    font-size: 1rem;
    margin-bottom: 5%;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.filter-buttons-dates button:hover {
    cursor:pointer;
}
.filter-buttons-cities button {
    font-size: 1rem;
    margin-bottom: 5%;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.filter-buttons-cities button:hover {
    cursor:pointer;
}

.calender-container {
    display: block;
}

.calender-container input {
    width: 10rem;
    height: 2rem;
    border-radius: 0.2rem;
}
.calender-container p {
    padding-top: 4%;
}

.calender-container button {
    display: flex;
    padding: 2%;
    color: #2e045b;
    margin: 5% auto;
    width: 5rem;
    height: 2rem;
    align-items: center;
    border-radius: 0.5rem;
}

.calender-container button:hover {
    cursor:pointer;
}

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}


.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}