
.years {
    height: 3em;
    width: 5em;
    opacity: 70%;
    color: white;
    background-color: purple;

}
select option {
    opacity: 70%;
    color: white;
    background-color: darkgray;
    padding: 1em;
}

.calender {
    display: flex;
    justify-content: space-evenly;
}
.calender button {
    color: white;
    opacity: 70%;
    width: 20rem;
    padding: 1em;
    background-color: purple;
    display: flex;
    justify-content: space-between;
}
.calender button:hover{
    opacity: 50%;
}

.my-events {
    color: pink;
    display: flex;
    justify-content: center;
}
h4 {
    color: pink;
    display: flex;
    justify-content: center;
}

p{
    color: white;
    display: flex;
    justify-content: center;
    margin: 1em;
}
