#outer-div {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-image: linear-gradient(to right, #090d2c, #ffffff);
    border-radius: 0.3rem;
    width: 40%;
    margin: 5%;
}

#outer-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-image: linear-gradient(to right, #e6bffa, #ffffff);
}

#outer-div div {
    padding: 5%;
    margin: 2%;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #0f1133;
}

#stage-area {

}
#standing-area {

}
#seated-area {
display: flex;
    flex-direction: column;
    padding: 1%;
}

button {
    margin: 1%;
    padding: 1%;
    border-radius: 0.4rem;
}

.black-btn  {
    background-color: #efb8b8;
}

.white-btn  {
    background-color: white;
}