/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


#root {
    background-image: url("./images/backgroundHorse.npg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black  ;
    font-family: 'Asap', sans-serif;


}


/***********************
        HEADER
***********************/
.image-title-searchbar {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 10em;
    width: 100%;

}

.header-logo-title{
    display: flex;
    align-items: center;
}

.header-logo-title img{
    width: 100px;
    margin-right: 1rem;
    margin-left: 1rem;
}


.searchbar {
    display: flex;
    align-items: stretch;
    width: auto;
    margin: auto auto;
}


#search-bar {
    display: flex;
    height: 35px;
    width: 100%;
    padding-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #232328;
    font-size:1rem;
}


#search-btn {
    display: flex;
    height: 35px;
    align-items: center;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
    padding: 15px;
    font-size: 1.1em;
    border: #232328;

}
.searchbar-and-navbar-wrapper {
    display: flex;
    flex-direction: row;
    max-width:100%;
}

nav {
    display: flex;
    margin: auto;
}

nav button {
    margin-top: 0.5em;
    background: transparent;
    border: transparent;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-left: 1rem;

}

nav a:link{
    text-decoration: none;
}


nav button:hover {
    cursor: pointer;
    font-weight: bolder;
}

.profile-signup-login {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 1em;
}

.profile-signup-login button:hover {
    cursor: pointer;
    font-weight: bolder;
}

.profile-signup-login button {
    margin-top: 0.6em;
    background: transparent;
    border: transparent;
    font-size: 1em;
    width: 5em;
}

#round-login-avatar {
    width: 3rem;
    border-radius: 5rem;
    margin-left: 1rem;
    border: 1px solid #232328;

}

#login-button {
    background-color: #E70C75;
    border-radius: 3px;
    color: #fff;
    padding: 1px;
    width: 4em;

}



/**************************
        CARD AREA
***************************/

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    background-color: transparent;
}

.card-area-wrapper h2 {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
    width: auto;
    /*color: #d6b8ff;*/
    color: white;


}

.card-area-artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    color: white;

}


.card-area-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    background-color: transparent;


}

.card h3, p {
    margin-left: 1rem;


}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 2em;
    width: 350px;
    height: 200px;



}



.event-card-details {

    background: linear-gradient(to top, rgba(133, 131, 131, 0.34), rgba(42, 39, 39, 0.93));
    color: rgba(255, 255, 255, 0.77);
    border-radius: 0 0.5em 0 2em;
    padding-right:1em ;

}



.card:hover {
    cursor: pointer;
}

.card-area img {
    max-width: 100%;
    height: auto;

}





.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card-area-artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    color: #000000;
    background-color: transparent;

}

.about-artist-text {
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.about-artist-text h3 {
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
}

.artist-details {
    color: cornflowerblue;
    padding: 1rem;
    width: 200px;
}

.artist-details:hover{
    cursor: pointer;
}

/**************************
            FOOTER
***************************/


footer {

    /*min-width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
*/
    text-align: center;
    height: 5rem;
    background-color: white;

}

footer ul {
    height: 2rem;
    width: 100%;
}

footer ul li {
    margin-top: 1em;
    width: 6rem;
    height: 4rem;
    font-size: 1.5rem;
}

footer p {
    margin-top: 1em;
    color: #553177;
}

footer ul a {
    color: #553177;
}

/***********************
        PROFILE PAGE
***********************/

.side-navbar-wrapper {
    display: flex;
    flex-direction: row;
}

.side-navbar {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: white;
    width: 6rem;
}


.contact-information {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10rem;
    width: 20em;
}

.contact-information input {
    display: flex;
    margin: 1rem;
}


.update-button {
    width: 15em;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: #c9b9f1;
}

.update-button:hover {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 0 30px 20px rgba(165, 238, 245, 0.2);
    cursor: pointer;
}

.updated-settings {
    color: green;
    text-align: center;
}


/**************************
        MEDIA QUERIES
***************************/

 @media (max-width: 1520px) {
    .searchbar-and-navbar {
        display: flex;
        flex-direction: column;
        width: 20em;
        font-size: 0.6em;

    }

    #search-btn {
        width: 1em;
        padding: 1em;
    }

    .searchbar-and-navbar-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

}

@media (max-width: 1180px) {


    #unicorn-events-title {
        display: none;
    }

    .searchbar-and-navbar-wrapper {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    .header-logo-title h1{
        display: none;
    }

}



@media(max-width: 800px) {

    header {
        display:flex;
        flex-direction: column;
        height: 15%;
    }
    .header-logo-title {
        margin-top: 3%;
    }

    .profile-signup-login{
        margin-top: 2em;
        margin-bottom:1em;
    }
}

@media(max-width: 550px) {

    header {
        display:flex;
        flex-direction: column;
    }

    #round-login-avatar{
        visibility: hidden;
    }

    header {

    }
    .profile-signup-login{
        margin-top: 0.1em;
        flex-direction: column;
        padding-right: 0px;
        align-items: center;
        margin-bottom:-2em;
    }


   .card-area-wrapper h2{
        font-size: 1.5rem;
    }

.searchbar-and-navbar-wrapper {
    align-items: stretch;
    width: 100%;
}

.card-area-artists {
    width: 50%;
    margin: auto auto;
}


.card-area-events {
    width: 70%;
    margin: auto auto;
}

.searchbar {
    margin: auto auto;
}

    .card-area-artists{
        width: 17.5em;
    }
}

