.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card-area-artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    gap: 2em;
    color: #000000;
    background-color: transparent;

}

.about-artist-text {
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.about-artist-text h3 {
    padding-left: 0.8rem;
    padding-bottom: 0.5rem;
}

.artist-details {
    color: black;
    padding: 1rem;
    width: 200px;
}

.artist-details:hover{
    cursor: pointer;
}

