.dropdown-container {
  display: flex;
  width: 50%;
  min-width: 100px;
  text-align: center;
  border: 1px solid;
  position: relative;
  border-radius: 5px;
  margin-left: 1em;
}

.dropdown-input {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  position: absolute;
  transform: translate(-5px, 167px);
  z-index: 1;
  width: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  overflow: auto;
  max-height: 300px;
  background-color: white;
}

.search-box {
  padding: 5px;
  background-color: white;
  height: fit-content;
}

.search-box input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: lightgray;
}