
.dropdown-container {
    display: flex;
    width: 50%;
    text-align: center;
    border: 1px solid;
    position: relative;
    border-radius: 5px;
    margin-left: 1em;
  }
  
  .dropdown-input {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-menu {
    position: absolute;
    transform: translate(-5px,95px);
    z-index: 1;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: white;
  }

  .dropdown-item {
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-item:hover {
    background-color: gray;
  }
  .dropdown-item.selected {
    background-color: #0d6efd;
    color: black;
}
.search-box {
    padding: 5px;
    background-color: #eee;
}
.search-box input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}