@media only screen and (max-width: 800px) {
    .filter-container {
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 450px) {
    .card {
        width: 262px;
        height: 150px;
    }
  }

.filter-container {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: linear-gradient(white 60%,lightgray);
    color: black;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.two-dates-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two-dates-filter input {
    display: flex;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem;
    min-height: 50vh;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0;
}

/***********************
        SEARCH BUTTON
***********************/
.button-wrap {
    height: 100%;
    margin: 30px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
.search-button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .search-button:hover, .search-button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .search-button:hover::before, .search-button:focus::before {
    opacity: 1;
  }
  
  .search-button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .search-button:hover::after, .search-button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }