/*@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

html {
    box-sizing: border-box;
}

.filter-container {
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 1rem;
}



.filter-buttons-dates {
    display: flex;
    flex: auto;
    gap: 5%;


}
.filter-buttons-cities  {
    display: flex;
    flex: auto;
    gap: 5%;

}

.filter-buttons-dates button {
    font-size: 1rem;
    margin-bottom: 5%;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.filter-buttons-dates button:hover {
    cursor:pointer;
}
.filter-buttons-cities button {
    font-size: 1rem;
    margin-bottom: 5%;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.date-filters button:hover, .city-filters button:hover  {
    cursor:pointer;
}

.two-dates-filter {
    display: flex;
    padding: 2rem;
    border: 1px solid red;
}


.date-form p{

}

.date-form input {
    width: 10rem;
    height: 2rem;
    border-radius: 0.2rem;
    border: 1px solid blue;
}

.filter-search-button button {
    display: flex;
    padding: 2%;
    color: #2e045b;
    margin: 5% auto;
    width: 5rem;
    height: 2rem;
    align-items: center;
    border-radius: 0.5rem;
}

.calender-container button:hover {
    cursor:pointer;
}

.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}


.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

/***********************
        FOOTER
***********************/