@media only screen and (max-width: 680px) {
    .filter-container {
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 450px) {
    .card {
        width: 262px;
        height: 150px;
    }
  }

.filter-container {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: linear-gradient(white 60%,lightgray);
    color: black;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}

.two-dates-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.two-dates-filter input {
    display: flex;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#filter-page-search-button {
    text-align: left;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 1em;
}
.card-area-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem;
    min-height: 50vh;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0;
}

/***********************
        FOOTER
***********************/