.verified-ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.verified-ticket h1 {
    padding: 1%;
    margin: 1%;
    font-size: 2rem;
    text-align: center;
}
#payment-details p {
    color: black;
}
#payment-details {
    padding: 3%;
}

.details{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

body{
    color: white;
}

.verified-ticket button{
    width: 4em;
    height: 5rem;
    background-color: pink;
}