.payment-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 80%;
    margin-bottom: 5%;

    text-align: center;
}

.payment-details {
    margin: 5% 5%;
}




img {
    width:50%;
    border-radius: 5%;
}

button {
    margin-bottom: 5%;

}

button:hover {
    cursor: pointer;
}
input {
    border-radius: 0.5rem;
    border:0;
}