.payment-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}

.payment-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 80%;
    margin-bottom: 5%;

    text-align: center;
}

#title-paymentpage {
    padding: 2rem;
}


#payment-details {
    font-size: 1.5rem;
    margin: 5% 5%;
    background-color: rgba(255, 255, 255, 0.51);


}
.payment-details p{

    color: #000000;
    padding: 1%;
}
.payment-wrapper button:hover {
    box-shadow: 0px 0px 15px 2px rgb(175, 70, 70);
    color: #8c1818;
}




img {
    width:50%;
    border-radius: 5%;
}

button {
    margin-bottom: 5%;

}

button:hover {
    cursor: pointer;
}
input {
    border-radius: 0.5rem;
    border:0;
}