.verified-ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-paymentpage {
    font-size: 2rem;
}

#details-box {
    background-color: rgba(245, 245, 245, 0.52);
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2%;
}

#image-payment {
    width: 30%;
}

#iFrameMaps {
    width: 70%;
    height: 50%;
    margin: 3%;
}

.verified-ticket h1 {
    padding: 1%;
    margin: 1%;
    font-size: 2rem;
    text-align: center;
}
#payment-details p {
    color: black;
}
#payment-details {
    padding: 3%;
}

.details{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

body{
    color: white;
}

#qr-code {
    width: 15%;
    margin: 2%;
}

#print-button {
    background-color: #f687bb;
    width: 200px;
    height: 50px;
}

.verified-ticket button{
    width: 4em;
    height: 5rem;
    background-color: pink;
}