.verified-ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#verified-ticket h1 {
    padding: 1%;
}

.header{
    padding-bottom: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

.card-img{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

body{
    color: white;
}

.verified-ticket button{
    width: 4em;
    height: 5rem;
    background-color: pink;
}