.side-navbar {
    display: flex;
    flex-direction: column;
    margin: 2em;
    background: -webkit-linear-gradient(pink, #8a676c, #1f1818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1em;
    width: 8rem;
    border: solid pink .1rem;
    box-shadow: 0 0 2em rgb(246, 189, 194);
}
.side-navbar:hover {
    opacity: 90%;
}

