* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}



#title-register-page {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 40px;
    font-weight: 200;
    color: white;
    height: 2px;
}

input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

#register-button {
    background-color: #E70C75;
    border-radius: 3px;
    color: #fff;
    padding: 1px;
    width: 4em;
}
#register-button:hover {
    cursor: pointer;
}

#login-button-register-page {
    color: white;
}

#register-button-login-page:hover {
    cursor: pointer;
}

button{
    appearance: none;
    outline: 0;
    background: none;
    border: 0;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    color: black;
}

