#outer-div {
    display: flex;
    flex-direction: column;
    padding: 1%;
   /* background-image: linear-gradient(to right, #090d2c, #ffffff);*/
    border-radius: 0.5rem;
    width: 50%;
    height: 50%;
    margin: 2%;
}

#outer-div1 {
    background-image: url("./images/Rectangle 29background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
div {
    background-image: linear-gradient(to right, #e6bffa, #ffffff);
}
*/
#outer-div div {
    padding: 3%;
    margin: 3%;
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #46464f;
    box-shadow: 0px 0px 10px 2px rgb(94, 35, 35);
    background-color: rgba(255, 255, 255, 0.6);
}

#seated-area {
    display: flex;
    flex-direction: column;
    padding: 1%;
}



button {
    margin: 0.08rem;
    padding: 0.05rem;
    border-radius: 0.4rem;
}

div .black-btn {
    box-shadow: 0px 0px 10px 2px rgb(175, 70, 70);
    color: #bb4f4f;
}

div .white-btn {
    background-color: white;
}
a button {
    padding: 0.5rem;
}
a button:hover {
    box-shadow: 0px 0px 15px 2px rgb(175, 70, 70);
    color: #6D5E76;
}

@media screen and (max-width: 800px) {
    #outer-div {
        width: 99%;
    }
}

@media screen and (max-width: 600px) {
    #seated-area div button {
        font-size: 0.2rem;
    }
    #stage-area {
        font-size: 0.5rem;
    }
}